.contacts-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  justify-content: center;
}

.contacts-list {
  min-height: 95vh;
  overflow: auto;

  h1 {
    color: white;
    text-align: center;
  }

  input,
  button {
    border-radius: 5px;
    padding: 5px;
  }
}
